@import "variables";
#device {
  width: 304px;
  background-color: #646464;
  padding: 1px;
  .slider {
    .device-slick {
      max-width: 99px;
      max-height: 96px;
      background-color: #282828;
      color: #aaa;
      cursor: pointer;
      &:hover,
      &:focus,
      &.active {
        background-color: #000;
        color: #00ffff;
      }
      p {
        padding-top: 55px;
      }
    }
  }
}

.icon {
  width: 100px;
  height: 97px;
}

.KEYBOARD {
  background: url("../images/keyboard-icon.png") no-repeat;
  &:hover,
  &:active {
    background: url("../images/keyboard-icon-active.png") no-repeat;
  }
}

.MOUSE {
  background: url("../images/mouse-icon.png") no-repeat;
  &:hover,
  &:active {
    background: url("../images/mouse-icon-active.png") no-repeat;
  }
}

.HEADSET {
  background: url("../images/headset-icon.png") no-repeat;
  &:hover,
  &:active {
    background: url("../images/headset-icon-active.png") no-repeat;
  }
}

.active {
  .KEYBOARD {
    background: url("../images/keyboard-icon-active.png") no-repeat;
  }
  .MOUSE {
    background: url("../images/mouse-icon-active.png") no-repeat;
  }
  .HEADSET {
    background: url("../images/headset-icon-active.png") no-repeat;
  }
}
