@import "variables";
.leftContralBar {
  width: $leftContralBar-width;
  background-color: $leftContralBar-color;
  color: #fff;
  text-align: center;
  overflow: hidden;
  ol {
    padding-left: 0;
    position: absolute;
    bottom: 3px;
    li {
      display: block;
      padding: 6px 0;
    }
  }
  li {
    cursor: pointer;
  }
  .fa {
    color: #fff;
  }
  .icon {
    width: 40px;
    height: 35px;
    display: block;
    &:hover,
    &:active {
      background-color: $leftContralBarIco-color-active;
    }
  }
  .icon-search {
    background: url("../images/icon-search.png") no-repeat;
  }
  .icon-add {
    background: url("../images/icon-add.png") no-repeat;
  }
  .icon-copy {
    background: url("../images/icon-copy.png") no-repeat;
  }
  .icon-IE {
    background: url("../images/icon-IE.png") no-repeat;
  }
  .icon-save {
    background: url("../images/icon-save.png") no-repeat;
  }
  .icon-edit {
    background: url("../images/icon-edit.png") no-repeat;
  }
  .icon-delete {
    background: url("../images/icon-delete.png") no-repeat;
  }
  .icon-languate-en {
    background: url("../images/icon-languate-en.png") no-repeat;
  }
  .icon-languate-tw {
    background: url("../images/icon-languate-tw.png") no-repeat;
  }
  .icon-languate-ru {
    background: url("../images/icon-languate-ru.png") no-repeat;
  }
  .icon-setting {
    background: url("../images/icon-setting.png") no-repeat;
  }
}
