@import "variables";
#preview {
  height: $preview-height; // background-color: rgba(0, 0, 0, .6);
  padding-top: $topButton-height;
  .setting {
    margin: 20px auto 0 auto;
    img {
      width: $object-width;
      height: 248px;
    }
    .mask-block,
    .mask-frame {
      position: absolute;
      top: 58px;
      width: $object-width;
      height: 248px;
      background-image: linear-gradient(
        90deg,
        #f39800,
        #efee01,
        #71be43,
        #0096e9,
        #132a87
      );
      // background-image: linear-gradient(
      //   90deg,
      //   rgb(255, 3, 3) 20%,
      //   rgb(255, 246, 0) 40%,
      //   rgb(116, 255, 3) 60%,
      //   rgb(3, 252, 255) 80%,
      //   rgb(3, 92, 255) 100%,
      //   rgb(187, 3, 255) 120%
      // );
      overflow-x: hidden;
    }
    .mask-block {
      -webkit-mask-image: url("../images/keyboard_block.png"),
        linear-gradient(rgba(0, 0, 0, 0), transparent);
      opacity: 0.4;
    }
    .mask-frame {
      -webkit-mask-image: url("../images/keyboard_frame.png"),
        linear-gradient(rgba(0, 0, 0, 0), transparent);
      opacity: 1;
    }
  }
}
