@import "variables";
@import "toggle";
#presets {
  width: $sidebar-width;
  height: $presets-height;
  background-color: #545c64;
  #accordion {
    width: $sidebar-width - $leftContralBar-width;
  }
  .card {
    border-radius: 0;
    border: 0;
    .card-header {
      height: $presets-tabs-height;
      background-color: $theme-color;
      color: #fff;
      text-align: center;
      border: none;
      border-radius: 0;
      h5 {
        font-size: 1rem;
      }
    }
    .card-body {
      background-color: $tabs-color-light;
      color: #fff;
      padding: 0;
      height: $presets-tabsContent-height;
      overflow: hidden;
      .tab-content {
        height: 100%;
        overflow-y: scroll;
        li {
          height: $presets-tabs-height;
          font-size: 12px;
          color: #939494;
          border: 1px transparent solid;
          cursor: pointer;
          &:hover,
          &:focus,
          &.active {
            border: 1px $theme-color-light solid;
          }
          .btn-group {
            width: 82px;
            .btn {
              max-width: 50px;
              height: 28px;
              padding: 2px 5px 0 5px;
              margin: auto 3px;
              font-size: 12px;
              line-height: 12px;
              letter-spacing: 1px;
              white-space: normal;
              border-radius: 3px;
              &:hover {
                background-color: transparent;
                color: $theme-color-light;
                border: 1px $theme-color-light solid;
              }
            }
          }
          i {
            font-size: 1.2rem;
            width: 30px;
            text-align: center;
            color: #fff;
          }
        }
      }
    }
    .collapsed .card-header {
      background-color: $tabs-color-dark;
    }
  }
}

.nav-tabs {
  border-bottom: 1px transparent solid;
}

.nav-tabs .nav-link {
  background-color: $tabs-color-dark;
  color: #fff;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
  font-size: 0.8rem;
  &:focus,
  &:hover {
    border: none;
  }
  &.active {
    background-color: $tabs-color-light;
    color: #fff;
  }
}
