@import "guideline";
@import "slick";

$doc-width: 1200px;
$doc-height: 700px;
$main-color: #23919A;

body {
	background-color: #fff;
}
ul {
	padding-left: 0;
	list-style: none;
}
p {
	font-size: 12px;
}
a {
	&:hover {
		color: transparent;
		text-decoration: none;
	}
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

#app {
	width: $doc-width;
	height: $doc-height;
	background-color: $main-color;
	font-family: "Orbitron Regular", -apple-system, BlinkMacSystemFont;
}
#sidebar {
	width: 344px;

	.leftContralBar {
		width: 40px;
		color: #fff;
		text-align: center;
	}
	#profile {
		width: 304px;
		height: 146px;
		padding: 2px 0 0 2px;
		background-color: #000;

		p {
			color: #fff;
		}
		#profileSelect {
			width:100%;
			height:141px;
			background-color: #2f2725;
			border: 1px #00ffff solid;

			p {
				height: 24px;
				margin-top: -35px;
				padding-top: 4px;
				line-height: .8rem;
				text-align: center;
				background-color: #000;
				opacity: .8;
				color: #fff;
			}
		}
		#profileList {
			height: auto;
			padding: 0 0 0 4px;
			overflow: scroll;
			
			li {
				width:69px;
				height:69px;
				display: inline-block;
				background-color: #282828;
				border: 1px #282828 solid;
				margin: 0 0 3px -2px;

				&:hover, &:focus, &:active {
					background-color: #2f2725;
					border: 1px #00ffff solid;
					cursor: pointer;
				}

				&:last-child {
					position: relative;
					top: -14px;

					&:nth-of-type(odd) {
						top: 0px;
					}

					h1 {
						color: #AAAAAA;
						font-size: 52px;
						height: 100%;
						line-height: 1rem;
						margin: 0;
					}
				}

				p {
					height: 24px;
					margin-top: -24px;
					padding-top: 4px;
					line-height: .8rem;
					text-align: center;
					background-color: #ccc;
					opacity: .8;
					color: #000;
				}
			}
		}
	}
	#device {
		width: 304px;
		// height:99px;
		background-color: #646464;
		padding: 1px;

		.slider {

			.device-slick {
				max-width: 99px;
				max-height: 96px;
				background-color: #282828;
				color: #aaa;
				cursor: pointer;

					&:hover, &:focus, &.active {
						background-color: #000;
						color: #00ffff;
					}
					p {
						margin-top: -30px;
					}
			}
		}
	}
	#presets {
		width: 304px;
		height: 455px;
		background-color: #545c64;

		.card {
			border-radius: 0;
			border: 0;
			
			.card-header {
				height: 35px;
				background-color: $main-color;
				color: #fff;
				text-align: center;
				border: none;
				border-radius: 0;

				h5 {
					font-size: 1rem;
				}
			}
			.card-body {
				background-color: #545c64;
				color: #fff;
				height: 350px;
				overflow: hidden;
			}
			.collapsed .card-header {
				background-color: #32373c;
			}
		}
	}
}

#graphicBackground {
	width: 856px;
	
	#topButton {
		height: 38px;
		background-color: #000;	
	}
	#preview {
		height: 310px;
	}
	#setting {
		height: auto;
	}
}