@import "guideline";
@import "slick";

$doc-width: 1185px;
$sidebar-width: 344px;
$graphicBackground-width: $doc-width - $sidebar-width;

$doc-height: 678px;
$profile-height: 143px;
$device-height: 98px;
$presets-height: $doc-height - $profile-height - $device-height;
$topButton-height: 38px;
$preview-height: 310px;
$setting-height: $doc-height - $topButton-height - $preview-height;

$theme-color: #23919A;
$theme-color-light: #38FFFF;

$tabs-color-dark: #25282C;
$tabs-color-light: #434A51;

$scroll-bar-width: 10px;
$scroll-color-dark: #363636;
$scroll-color-light: #9A9A9A;


body {
	background-color: #fff;
}
ul {
	padding-left: 0;
	list-style: none;
}
p {
	font-size: 12px;
}
a {
	&:hover {
		color: transparent;
		text-decoration: none;
	}
}
.nav-tabs {
	border-bottom: 1px transparent solid;
}
.nav-tabs .nav-link {
	background-color: $tabs-color-dark;
	color: #fff;
	border: 0;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
	text-align: center;
	font-size: .8rem;
	
	&:focus, &:hover {
		border: none;
	}
	&.active {
		background-color: $tabs-color-light;
		color: #fff;
	}
}
#profileList, .tab-content {
	// scroll-bar style
	&::-webkit-scrollbar-track {
		border: none;
		background-color: $scroll-color-dark;
	}
	&::-webkit-scrollbar {
		width: $scroll-bar-width;
		background-color: $scroll-color-dark;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $scroll-color-light;
	}
}

#app {
	width: $doc-width;
	height: $doc-height;
	background-color: $theme-color;
	font-family: "Orbitron Regular", -apple-system, BlinkMacSystemFont;
}
#sidebar {
	width: $sidebar-width;

	.leftContralBar {
		width: 40px;
		color: #fff;
		text-align: center;
		overflow: hidden;

		ul {
			margin-top: 4px;
			li {
				padding: 4px 0px;
			}
		}
		ol {
			padding-left: 0;
			position: absolute;
			left: 12px;
			bottom: 25px;
			li {
				display: block;
				padding: 6px 0;
			}
		}
		li {
			cursor: pointer;
		}
		.fa {
			color: #fff;
		}
	}
	#profile {
		width: 304px;
		height: $profile-height;
		padding: 2px 0 2px 2px;
		background-color: #000;

		p {
			color: #fff;
		}
		#profileSelect {
			width:100%;
			background-color: #2f2725;
			border: 1px #00ffff solid;

			p {
				height: 24px;
				margin-top: -36px;
				padding-top: 4px;
				line-height: .8rem;
				text-align: center;
				background-color: #000;
				opacity: .8;
				color: #fff;
			}
		}
		#profileList {
			height: auto;
			padding: 0 0 0 4px;
			overflow-y: scroll;
			ul {
				margin-bottom: 0px;
			}
			li {
				width:68px;
				height:68px;
				display: inline-block;
				background-color: #282828;
				border: 1px #282828 solid;
				margin: 0 0 3px -2px;

				&:hover, &:focus, &:active {
					background-color: #2f2725;
					border: 1px #00ffff solid;
					cursor: pointer;
				}

				&:last-child {
					position: relative;
					top: -13px;

					&:nth-of-type(odd) {
						top: 0px;
					}

					h1 {
						color: #AAAAAA;
						font-size: 52px;
						height: 100%;
						line-height: 1rem;
						margin: 0;
					}
				}

				p {
					height: 24px;
					margin-top: -24px;
					padding-top: 4px;
					line-height: .8rem;
					background-color: #ccc;
					opacity: .8;
					color: #000;
				}
			}
		}
	}
	#device {
		width: 304px;
		background-color: #646464;
		padding: 1px;

		.slider {

			.device-slick {
				max-width: 99px;
				max-height: 96px;
				background-color: #282828;
				color: #aaa;
				cursor: pointer;

					&:hover, &:focus, &.active {
						background-color: #000;
						color: #00ffff;
					}
					p {
						margin-top: -30px;
					}
			}
		}
	}
	#presets {
		width: 304px;
		height: $presets-height;
		background-color: #545c64;

		.card {
			border-radius: 0;
			border: 0;
			
			.card-header {
				height: 35px;
				background-color: $theme-color;
				color: #fff;
				text-align: center;
				border: none;
				border-radius: 0;

				h5 {
					font-size: 1rem;
				}
			}
			.card-body {
				background-color: $tabs-color-light;
				color: #fff;
				padding: 0;
				height: 332px;
				overflow: hidden;
				
				.tab-content {
					height: 298px;
					overflow-y: scroll;

					li {
						height: 35px;
						font-size: 12px;
						color: #939494;
						border: 1px transparent solid;
						cursor: pointer;

						&:hover, &:focus, &.active {
							border: 1px $theme-color-light solid;
						}
						.btn-group {
							width: 82px;
						}
						.btn {
							max-width: 50px;
							height: 25px;
							padding: 2px 2px 0 2px;
							margin: auto 2px;
							font-size: 12px;
							line-height: 12px;
							word-break: break-word;
							white-space: normal;
							border-radius: 3px;

							&:hover {
								background-color: transparent;
								color: $theme-color-light;
								border: 1px $theme-color-light solid;
							}
						}
						i {
							font-size: 1.2rem;
							width: 30px;
							text-align: center;
							color: #fff;
						}
					}
				}
			}
			.collapsed .card-header {
				background-color: $tabs-color-dark;
			}
		}
	}
}

#graphicBackground {
	width: $graphicBackground-width;
	
	#topButton {
		width: $graphicBackground-width;
		height: $topButton-height;
		background-color: #000;
		position: absolute;
		overflow: hidden;

		ul li, ol li {
			display: inline-block;
		}
		ol li {
			color: #9A9A9A;
			font-size: 1.2rem;
			padding: 8px 10px 0 10px;
			cursor: pointer;

			&:nth-of-type(5) {
				padding: 12px 0;
				margin: auto 10px;
				border-right: 1px #9A9A9A solid;
				position: relative;
				top: 5px;
				cursor: default;
			}
		}
		.fa-volume-control-phone {
			transform: rotate(-33deg);
		}
	}
	#preview {
		height: $preview-height;
		background-color: rgba(0, 0, 0, .6);
		padding-top: $topButton-height;
	}
	#setting {
		height: $setting-height;
	}
}