@import "guideline";
@import "slick";

$doc-width: 1185px;
$sidebar-width: 344px;
$graphicBackground-width: $doc-width - $sidebar-width;
$leftContralBar-width: 40px;

$doc-height: 670px;
$profile-height: 143px;
$device-height: 98px;
$presets-height: $doc-height - $profile-height - $device-height;
$presets-tabs-height: 35px;
$presets-tabsContent-height: $presets-height - ($presets-tabs-height * 3);
$topButton-height: 38px;
$preview-height: 350px;
$setting-height: $doc-height - $topButton-height - $preview-height;

$theme-color: #23919A;
$theme-color-light: #38FFFF;

$tabs-color-dark: #25282C;
$tabs-color-light: #535C65;

$scroll-bar-width: 10px;
$scroll-color-dark: #363636;
$scroll-color-light: #9A9A9A;

$leftContralBar-color: $theme-color;
$leftContralBarIco-color-active: #0ae6e6;


body {
	background-color: #fff;
}
ul {
	padding-left: 0;
	list-style: none;
}
p {
	font-size: 12px;
}
a {
	&:hover {
		color: transparent;
		text-decoration: none;
	}
}
.font-size-sm, .font-size-xs {
	letter-spacing: 1px;
}
.font-size-sm {
	transform : scale(0.9);
}
.font-size-xs {
	transform : scale(0.75);
}
.nav-tabs {
	border-bottom: 1px transparent solid;
}
.nav-tabs .nav-link {
	background-color: $tabs-color-dark;
	color: #fff;
	border: 0;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
	text-align: center;
	font-size: .8rem;
	
	&:focus, &:hover {
		border: none;
	}
	&.active {
		background-color: $tabs-color-light;
		color: #fff;
	}
}
#profileList, .tab-content {
	// scroll-bar style
	&::-webkit-scrollbar-track {
		border: none;
		background-color: $scroll-color-dark;
	}
	&::-webkit-scrollbar {
		width: $scroll-bar-width;
		background-color: $scroll-color-dark;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $scroll-color-light;
	}
}

#app {
	width: $doc-width;
	height: $doc-height;
	background-color: $theme-color;
	font-family: "Orbitron Regular", -apple-system, BlinkMacSystemFont;
}
#sidebar {
	width: $sidebar-width;

	.leftContralBar {
		width: $leftContralBar-width;
		background-color: $leftContralBar-color;
		color: #fff;
		text-align: center;
		overflow: hidden;

		ol {
			padding-left: 0;
			position: absolute;
			bottom: 3px;
			li {
				display: block;
				padding: 6px 0;
			}
		}
		li {
			cursor: pointer;
		}
		.fa {
			color: #fff;
		}
		.icon {
			width: 40px;
			height: 35px;
			display: block;
			&:hover, &:active {
				background-color: $leftContralBarIco-color-active;
			}
		}
		.icon-search {
			background: url('../images/icon-search.png') no-repeat;
		}
		.icon-add {
			background: url('../images/icon-add.png') no-repeat;
		}
		.icon-copy {
			background: url('../images/icon-copy.png') no-repeat;
		}
		.icon-IE {
			background: url('../images/icon-IE.png') no-repeat;
		}
		.icon-save {
			background: url('../images/icon-save.png') no-repeat;
		}
		.icon-edit {
			background: url('../images/icon-edit.png') no-repeat;
		}
		.icon-delete {
			background: url('../images/icon-delete.png') no-repeat;
		}
		.icon-languate-en {
			background: url('../images/icon-languate-en.png') no-repeat;
		}
		.icon-languate-tw {
			background: url('../images/icon-languate-tw.png') no-repeat;
		}
		.icon-languate-ru {
			background: url('../images/icon-languate-ru.png') no-repeat;
		}
		.icon-setting {
			background: url('../images/icon-setting.png') no-repeat;
		}
	}
	#profile {
		width: 304px;
		height: $profile-height;
		padding: 2px 0 2px 2px;
		background-color: #000;

		p {
			color: #fff;
		}
		#profileSelect {
			width:100%;
			background-color: #2f2725;
			border: 1px #00ffff solid;
			text-align: center;
			img {
				height: 100%;
				overflow: hidden;
			}
			p {
				height: 24px;
				margin-top: -27px;
				padding-top: 4px;
				line-height: .8rem;
				text-align: center;
				background-color: #000;
				opacity: .8;
				color: #fff;
			}
		}
		#profileList {
			height: auto;
			padding: 0 0 0 4px;
			overflow-y: scroll;
			ul {
				margin-bottom: 0px;
			}
			li {
				width:68px;
				height:68px;
				display: inline-block;
				background-color: #282828;
				border: 1px #282828 solid;
				margin: 0 0 3px -2px;

				&:hover, &:focus, &:active {
					background-color: #2f2725;
					border: 1px #00ffff solid;
					cursor: pointer;
				}

				&:last-child {
					position: relative;
					top: -13px;

					&:nth-of-type(odd) {
						top: 0px;
					}

					h1 {
						color: #AAAAAA;
						font-size: 52px;
						height: 100%;
						line-height: 1rem;
						margin: 0;
					}
				}

				p {
					height: 24px;
					margin-top: -24px;
					padding-top: 2px;
					line-height: .8rem;
					background-color: #ccc;
					opacity: .8;
					color: #000;
				}
			}
		}
	}
	#device {
		width: 304px;
		background-color: #646464;
		padding: 1px;

		.slider {

			.device-slick {
				max-width: 99px;
				max-height: 96px;
				background-color: #282828;
				color: #aaa;
				cursor: pointer;

					&:hover, &:focus, &.active {
						background-color: #000;
						color: #00ffff;
					}
					p {
						padding-top: 55px;
					}
			}
		}
	}
	.icon {
		width: 100px;
		height: 97px;
	}
	.KEYBOARD {
		background: url('../images/keyboard-icon.png') no-repeat;
		&:hover, &:active {
			background: url('../images/keyboard-icon-active.png') no-repeat;
		}
	}
	.MOUSE {
		background: url('../images/mouse-icon.png') no-repeat;
		&:hover, &:active {
			background: url('../images/mouse-icon-active.png') no-repeat;
		}
	}
	.HEADSET {
		background: url('../images/headset-icon.png') no-repeat;
		&:hover, &:active {
			background: url('../images/headset-icon-active.png') no-repeat;
		}
	}
	.active {
		.KEYBOARD {
			background: url('../images/keyboard-icon-active.png') no-repeat;
		}
		.MOUSE {
			background: url('../images/mouse-icon-active.png') no-repeat;
		}
		.HEADSET {
			background: url('../images/headset-icon-active.png') no-repeat;
		}
	}
	#presets {
		width: $sidebar-width;
		height: $presets-height;
		background-color: #545c64;
		#accordion {
			width: $sidebar-width - $leftContralBar-width;
		}
		.card {
			border-radius: 0;
			border: 0;
			
			.card-header {
				height: $presets-tabs-height;
				background-color: $theme-color;
				color: #fff;
				text-align: center;
				border: none;
				border-radius: 0;

				h5 {
					font-size: 1rem;
				}
			}
			.card-body {
				background-color: $tabs-color-light;
				color: #fff;
				padding: 0;
				height: $presets-tabsContent-height;
				overflow: hidden;
				
				.tab-content {
					height: 100%;
					overflow-y: scroll;

					li {
						height: $presets-tabs-height;
						font-size: 12px;
						color: #939494;
						border: 1px transparent solid;
						cursor: pointer;

						&:hover, &:focus, &.active {
							border: 1px $theme-color-light solid;
						}
						.btn-group {
							width: 82px;
						}
						.btn {
							max-width: 50px;
							height: 28px;
							padding: 2px 5px 0 5px;
							margin: auto 3px;
							font-size: 12px;
							line-height: 12px;
							letter-spacing: 1px;
							white-space: normal;
							border-radius: 3px;

							&:hover {
								background-color: transparent;
								color: $theme-color-light;
								border: 1px $theme-color-light solid;
							}
						}
						i {
							font-size: 1.2rem;
							width: 30px;
							text-align: center;
							color: #fff;
						}
					}
				}
			}
			.collapsed .card-header {
				background-color: $tabs-color-dark;
			}
		}
	}
}

#graphicBackground {
	width: $graphicBackground-width;
	background: url('../images/keyimage.jpg') no-repeat;
	
	#topButton {
		width: $graphicBackground-width;
		height: $topButton-height;
		background-color: #000;
		position: absolute;
		overflow: hidden;

		ul li, ol li {
			display: inline-block;
		}
		.official {
			width: 200px;
			height: 38px;
			display: block;
			background: url('../images/logo-official.png') no-repeat;

			&:hover, &:active {
				background: url('../images/logo-official-active.png') no-repeat;
			}
		}
		ol li {
			color: #9A9A9A;
			font-size: 1.2rem;
			padding: 2px 5px 0 5px;
			cursor: pointer;

			&:nth-of-type(5) {
				padding: 12px 0;
				margin: auto 10px;
				border-right: 1px #9A9A9A solid;
				position: relative;
				cursor: default;
			}
			.icon {
				width: 30px;
				height: 30px;
				display: inline-block;
			}
			.icon-login {
				background: url('../images/icon-login.png') no-repeat;
				&:hover, &:active {
					background: url('../images/icon-login-active.png') no-repeat;
				}
			}
			.icon-call {
				background: url('../images/icon-call.png') no-repeat;
				&:hover, &:active {
					background: url('../images/icon-call-active.png') no-repeat;
				}
			}
			.icon-facebook {
				background: url('../images/icon-facebook.png') no-repeat;
				&:hover, &:active {
					background: url('../images/icon-facebook-active.png') no-repeat;
				}
			}
			.icon-twitter {
				background: url('../images/icon-twitter.png') no-repeat;
				&:hover, &:active {
					background: url('../images/icon-twitter-active.png') no-repeat;
				}
			}
			.icon-minimize {
				background: url('../images/icon-minimize.png') no-repeat;
				&:hover, &:active {
					background: url('../images/icon-minimize-active.png') no-repeat;
				}
			}
			.icon-close {
				background: url('../images/icon-close.png') no-repeat;
				&:hover, &:active {
					background: url('../images/icon-close-active.png') no-repeat;
				}
			}
		}
		.fa-volume-control-phone {
			transform: rotate(-33deg);
		}
	}
	#preview {
		height: $preview-height;
		// background-color: rgba(0, 0, 0, .6);
		padding-top: $topButton-height;
	}
	#setting {
		height: $setting-height;
	}
}